<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Locativity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://sumukh.me/local/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://sumukh.me/local/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://sumukh.me/local/assets/css/docs.css" rel="stylesheet">
    <link href="http://sumukh.me/local/assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top" >
      <style>
      .navbar{font-size:16px;}.navbar .navbar-inner{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-bottom:2px solid #33b5e5;}

      </style>
      <div class="navbar-inner" >
        <div class="container">

          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" style="float: left;" href="index.html">Locativity</a>

          <div class="nav-collapse collapse">

            <ul class="nav" style="margin-left: 20px;">
              <li class="">
                <a href="#">Console</a>
              </li>
              <li class="active">
                <a href="#">Analytics</a>
              </li>
              <li class="">
                <a href="settings.html">Settings</a>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Analytics</h1>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
<div class="span12">
	<style>
	div.rttitle {
		display: none;
	}
	div.rtfeed {
		display: none;
	}
	</style>

<div class="row">
	<div class="span12" style="margin-left:-25px;">
<script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.kYQ4 = {};
rtapi.kYQ4.title = 'Efficiency Summary';
rtapi.kYQ4.kind = 'sidebar';
rtapi.kYQ4.styling = { width:960, height:125 };
</script>
<!-- below is required -->
<div id="rtdivkYQ4"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B63YQ4LTKefdxcsXnR6BgvVv4RdULAO3jFII_Pk3" type="text/javascript"></script><script type='text/javascript'>RTAPI.render_all(rtapi);</script>
	</div>
	</div>
	<div class="row">
	<div class="span5">
		            <h3>Today's Activities</h3>
		            <script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.kxRs = {};
rtapi.kxRs.title = 'All%20Activities%20';
rtapi.kxRs.kind = 'sidebar';
rtapi.kxRs.styling = { width:400, height:300 };
</script>
<!-- below is required -->
<div id="rtdivkxRs"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B63xRs3dQOhG7yC5FTqxoSJ_34YhJNDqaLCF531U" type="text/javascript"></script><script type='text/javascript'>rtapi.my_css = true;RTAPI.render_all(rtapi);</script>
<!-- a little how-to 
- Paste this into your web page where you want the chart.
- You may have multiple embedded charts on the same page.
- You can change the title, width and height by editing the named properties.
- You can opt for the more verbose full chart by setting .kind to 'default'.
- If you want your own css control, you can add 'rtapi.my_css = true;' before the render function.
- css class names are: 
-   rtdiv : the whole container
-   rttitle : the title, rtchart : the chart, rtfeed : the footer
-->

	</div>
	
	<div class="span6">
		<h3>Productivity by hour</h3>
		
		<script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.kLug = {};
rtapi.kLug.title = 'Productivity%20%20by%20hour';
rtapi.kLug.kind = 'sidebar';
rtapi.kLug.styling = { width:400, height:300 };
</script>
<!-- below is required -->
<div id="rtdivkLug"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B63LugTJyXlpKErxO65lQizxR41HlAdmGwHGiyWg" type="text/javascript"></script><script type='text/javascript'>rtapi.my_css = true;RTAPI.render_all(rtapi);</script>


	</div>
	</div>
	<div class="row">
	
	<div class="span5">
	<h3>Time spent by category </h3>
	<!-- configurable section -->
<script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.kosK = {};
rtapi.kosK.title = '';
rtapi.kosK.kind = 'sidebar';
rtapi.kosK.styling = { width:400, height:300 };
</script>
<!-- below is required -->
<div id="rtdivkosK"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B63osKqvWMNe0QjaPxocwZOMa2YpniEYpqNsizxa" type="text/javascript"></script><script type='text/javascript'>rtapi.my_css = true;RTAPI.render_all(rtapi);</script>
<!-- a little how-to 
- Paste this into your web page where you want the chart.
- You may have multiple embedded charts on the same page.
- You can change the title, width and height by editing the named properties.
- You can opt for the more verbose full chart by setting .kind to 'default'.
- If you want your own css control, you can add 'rtapi.my_css = true;' before the render function.
- css class names are: 
-   rtdiv : the whole container
-   rttitle : the title, rtchart : the chart, rtfeed : the footer
-->
	
  </div>

<div span="span6">
<style>
.rtdiv hr{
	width: 0;
	
}
.rtdiv {
	margin-top: -10px
}
</style>
	            <h3> Distraction by hour</h3>
<!-- configurable section -->
<script type="text/javascript">
if (typeof rtapi == 'undefined') var rtapi = {}; rtapi.kzYD = {};
rtapi.kzYD.title = 'very%20distractin...%20%20by%20hour';
rtapi.kzYD.kind = 'sidebar';
rtapi.kzYD.styling = { width:400, height:300 };
</script>
<!-- below is required -->
<div id="rtdivkzYD"></div>
<script src="https://www.rescuetime.com/anapi/js/embed/B63zYDUC4OC8vy8RFtedq3QWxO4pf2Brw3Qdmrj4" type="text/javascript"></script><script type='text/javascript'>rtapi.my_css = true;RTAPI.render_all(rtapi);</script>
<!-- a little how-to 
- Paste this into your web page where you want the chart.
- You may have multiple embedded charts on the same page.
- You can change the title, width and height by editing the named properties.
- You can opt for the more verbose full chart by setting .kind to 'default'.
- If you want your own css control, you can add 'rtapi.my_css = true;' before the render function.
- css class names are: 
-   rtdiv : the whole container
-   rttitle : the title, rtchart : the chart, rtfeed : the footer
-->
</div>
	</div>

</div>


    <!-- Footer
    ================================================== -->
    <br>
    <br> 
    <br>
    <hr>
    <footer style="color:0; height:0;">
      
    </footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://sumukh.me/local/assets/js/jquery.js"></script>
    <script src="http://sumukh.me/local/assets/js/google-code-prettify/prettify.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-transition.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-alert.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-modal.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-tab.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-popover.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-button.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-collapse.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-carousel.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-typeahead.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-affix.js"></script>
    <script src="http://sumukh.me/local/assets/js/application.js"></script>


    <!-- Analytics
    ================================================== -->
  </body>
</html>

<!-- Localized -->