<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Locativity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://sumukh.me/local/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://sumukh.me/local/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://sumukh.me/local/assets/css/docs.css" rel="stylesheet">
    <link href="http://sumukh.me/local/assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color">
      <style>
      .navbar{font-size:16px;}.navbar .navbar-inner{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;border-bottom:2px solid #33b5e5;}

      </style>
      <div class="navbar-inner" >
        <div class="container">

          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" style="float: left;" href="index.html">Locativity</a>

          <div class="nav-collapse collapse">

            <ul class="nav" style="margin-left: 20px;">
              <li class="">
                <a href="#">Console</a>
              </li>
              <li class="">
                <a href="analytics.html">Analytics</a>
              </li>
              <li class="active">
                <a href="#">Settings</a>
              </li>


            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>Settings</h1>
    <p class="lead">Make Locativity more powerful. NinjaCourses. Push Notifications. Real-time. </p>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
          <li><a href="#download-bootstrap"><i class="icon-chevron-right"></i>Basic Info</a></li>
          <li><a href="#file-structure"><i class="icon-chevron-right"></i> Ninja Courses</a></li>
          <li><a href="#html-template"><i class="icon-chevron-right"></i> iOS Settings</a></li>
          <li><a href="#examples"><i class="icon-chevron-right"></i>PC/Mac Client</a></li>
          <li><a href="#what-next"><i class="icon-chevron-right"></i> Save Settings</a></li>
        </ul>
      </div>
<div class="span9">



        <!-- Download
        ================================================== -->
        <section id="download-bootstrap">
          <div class="page-header">
            <h1>Basic Info</h1>
          </div>
          <p class="lead">We monitor your location throughout the day and your productivity 
          and analyze it to help you be awesomer! We have a client side software that monitors
          your productivity and we analyze and visualize it. </p>

        </section>



        <!-- File structure
        ================================================== -->
        <section id="file-structure">
          <div class="page-header">
            <h1>Ninja Courses</h1>
          </div>
          <p class="lead">Give us your username (and permission) and we'll analyze your courses and see if you are in lecture.</p>
          <p><strong>See your own attendance! </strong>  All we need is your user name. <form action="#"><input type="text" value="user123" disabled="True" </input> .</p>
        </section>





        <!-- HTML template
        ================================================== -->
        <section id="html-template">
          <div class="page-header">
            <h1>iOS Settings</h1>
          </div>
          <p class="lead">Change your polling interval.</p>
          <p><strong>Go to Settings>Locativity on your phone </strong>  to change your polling settings and save battery life. Locativity automatically attempts to save battery life .</p>
        </section>



        <!-- Examples
        ================================================== -->
        <section id="examples">
          <div class="page-header">
            <h1>Mac/PC/Linux Client</h1>
          </div>
          <p class="lead">We use productivity tracking software that uses large datasets to analyze 
            whether you are being produtive or not. You don't need enter a thing or change any settings. Of course you can define custom productivity levels (Link in app).</p>
        </section>




        <!-- Next
        ================================================== -->
        <section id="what-next">
          <div class="page-header">
            <h1>Save Settings</h1>
          </div>
          <p class="lead">Head to the docs for information, examples, and code snippets, or take the next leap and customize Bootstrap for any upcoming project.</p>
          <a class="btn btn-large btn-primary" href="index.html" >Save and go to console</a>
        </section>




      </div>

  </div>



    <!-- Footer
    ================================================== -->
    <br>
    <hr>
    <br> <br> <br> <br> <br> <br> <br>  <br> <br> <br> <br> <br>
    <footer style="color:0; height:0;">
      
    </footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://sumukh.me/local/assets/js/jquery.js"></script>
    <script src="http://sumukh.me/local/assets/js/google-code-prettify/prettify.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-transition.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-alert.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-modal.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-tab.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-popover.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-button.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-collapse.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-carousel.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-typeahead.js"></script>
    <script src="http://sumukh.me/local/assets/js/bootstrap-affix.js"></script>
    <script src="http://sumukh.me/local/assets/js/application.js"></script>


    <!-- Analytics
    ================================================== -->
  </body>
</html>

<!-- Localized -->